/* includes border and padding in the total element width */
* {
  box-sizing: border-box;
    color: black;
    background-color: white;
}


/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
    display: none;
}
.grid-container {
    display: grid;
    grid-template-areas:
        'tonav tonav tonav tonav tonav tonav'
        'main main main main main aside'
        'footer footer footer footer footer footer';
}
nav {
    width: 100%;
    grid-area: tonav;
    align-items: center;
}
.nav {
    grid-area: tonav;
}
.second_level_box {
    grid-area: main;
}
.adv0, .adv1, .adv2, .adv3, .adv4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.adv0__text, .adv1__text, .adv2__text, .adv3__text, .adv4__text {
    align-self: flex-end;
}
.adv0__picture, .adv1__picture, .adv2__picture, .adv3__picture, .adv4__picture {
    width: 50px;
    height: 50px;
}

.aside {
    justify-content: center;
    grid-area: aside;
}
.footer {
    grid-area: footer;
}
.nav__links {
    grid-area: tonav;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 100%;
}


.nav__links a {
    padding: 2rem 3rem;
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Verdana, sans-serif;
}

.nav__links a:hover,
.nav__links a:active,
.nav__links a:focus {
    background-color: #131642;
}

/*show the submenu when input is checked*/
input:checked~ul.submenu {
    display: block;
}


.nav__search input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}
.nav__search .search-container {
    float: left;
    width: 100%;
}

.nav__search .search-container button {
    float: left;
    display: block;
    text-align: left;
    width: fit-content;
    margin: auto;
    padding: 2px;
}

.postdatenews {
    font-size: medium;
}

.posttimenews {
    font-size: small;
}

article.news {
    margin: 2px;
    display: block;
    border-style: solid none;
    border-width: 1px;
}
article.events {
    margin: 2px;
    display: block;
    border-style: solid none;
    border-width: 1px;
}


/* media for the medium screen */
@media only screen and (min-width: 64.063em) {
    .grid-container {
        display: grid;
        grid-template-areas:
        'tonav tonav tonav tonav tonav tonav tonav tonav'
        'main main main main main main main aside'
        'footer footer footer footer footer footer footer footer';
    }
    nav {
        grid-area: tonav;
        padding-bottom: 3rem;
        color: black;
    }

    .nav__links {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }
    .nav__search {
        position: relative;
        display: block;
        float: right;
        width: 20%;
        align-items: end;
    }
    .nav__search input[type=text] {
        float: right;
        display: block;
        text-align: left;
        margin: 0;
        padding: 14px;
    }

    .nav__search .search-container button {
        float: right;
        align-items: flex-end;
        text-align: left;
        margin: auto;
        padding: 2px;
        width: fit-content;
    }
    .second_level_box {
        grid-area: main;
    }
    .adv0, .adv1, .adv2, .adv3, .adv4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .adv0__text, .adv1__text, .adv2__text, .adv3__text, .adv4__text {
        align-self: flex-end;
    }
    .adv0__picture, .adv1__picture, .adv2__picture, .adv3__picture, .adv4__picture {
        width: 50px;
        height: 50px;
    }
    .aside {
        float: right;
        width: 25%;
        justify-content: center;
        grid-area: aside;
    }
    .footer {
        grid-area: footer;
    }

}

/* media for the large screen */
@media only screen and (min-width: 90.063em){
    .grid-container {
        display: grid;
        grid-template-areas:
        'tonav tonav tonav tonav tonav tonav tonav tonav'
        'main main main main main main main aside'
        'footer footer footer footer footer footer footer footer';
    }
    nav {
        grid-area: tonav;
        padding-bottom: 3rem;
        color: black;
    }

    .nav__links {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }
    .nav__search {
        position: relative;
        display: block;
        float: right;
        width: 20%;
        align-items: end;
    }
    .nav__search input[type=text] {
        float: right;
        display: block;
        text-align: left;
        margin: 0;
        padding: 14px;
    }

    .nav__search .search-container button {
        float: right;
        align-items: flex-end;
        text-align: left;
        margin: auto;
        padding: 2px;
        width: fit-content;
    }
    .second_level_box {
        grid-area: main;
    }
    .adv0, .adv1, .adv2, .adv3, .adv4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .adv0__text, .adv1__text, .adv2__text, .adv3__text, .adv4__text {
        align-self: flex-end;
    }
    .adv0__picture, .adv1__picture, .adv2__picture, .adv3__picture, .adv4__picture {
        width: 50px;
        height: 50px;
    }
    .aside {
        float: right;
        width: 25%;
        justify-content: center;
        grid-area: aside;
    }
    .footer {
        grid-area: footer;
    }
}

/* media for the small screen */
@media only screen and (min-width: 40.063em) {
}
